<div class="login-container">
  <div class="form-box shadow-lg">
    <form [formGroup]="registerFrom" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <fa-icon [icon]="faUserAstronaut" size="3x" class="text-primary"></fa-icon>
        <h2 class="mt-2 text-black">Register</h2>
      </div>

      <div class="mb-3">
        <label for="first name" class="form-label text-dark">First Name</label>
        <div class="input-group">
          <span class="input-group-text bg-primary text-light">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
          <input
          placeholder="Enter your first name"
            type="text"
            class="form-control"
            formControlName="firstName"
            [class.is-valid]="firstName?.valid && (firstName?.dirty || firstName?.touched)"
            [class.is-invalid]="
              firstName?.invalid && (firstName?.dirty || firstName?.touched)
            "
          />

          <div class="invalid-feedback">Please enter your first name.</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="email" class="form-label text-dark">Last Name</label>
        <div class="input-group">
          <span class="input-group-text bg-primary text-light">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
          <input
            placeholder="Enter your last name"
            type="text"
            class="form-control"
            formControlName="lastName"
            [class.is-valid]="lastName?.valid && (lastName?.dirty || lastName?.touched)"
            [class.is-invalid]="
              lastName?.invalid && (lastName?.dirty || lastName?.touched)
            "
          />

          <div class="invalid-feedback">Please enter your last name.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label text-dark">Email Address</label>
        <div class="input-group">
          <span class="input-group-text bg-primary text-light">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </span>
          <input
            placeholder="Enter your Email Address"
            type="email"
            class="form-control"
            formControlName="email"
            [class.is-valid]="email?.valid && (email?.dirty || email?.touched)"
            [class.is-invalid]="
              email?.invalid && (email?.dirty || email?.touched)
            "
          />

          <div class="invalid-feedback">Please enter a valid email.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label text-dark">Password</label>
        <div class="input-group">
          <span class="input-group-text bg-primary text-light">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
          <input
            placeholder="Create your Password"
            type="{{showPassword?'text':'password'}}"
            class="form-control"
            formControlName="password"
            [class.is-valid]="
              password?.valid && (password?.dirty || password?.touched)
            "
            [class.is-invalid]="
              password?.invalid && (password?.dirty || password?.touched)
            "
          />
           <button (click)="toggleShowPassword()">
            <fa-icon [icon]="faEye"></fa-icon>
           </button>
          <div class="invalid-feedback">
            Password must contain:
            <ul>
              <li>Uppercase letter</li>
              <li>Lowercase letter</li>
              <li>Number</li>
              <li>Special character</li>
              <li>Min 8 characters</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-dark">Confirm Password</label>
        <div class="input-group">
          <span class="input-group-text bg-primary text-light">
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
          <input
            placeholder="Confirm your password"
            type="{{showPassword2?'text':'password'}}"
            class="form-control"
            formControlName="confirmPassword"
            [class.is-valid]="
              confirmPassword?.valid && (confirmPassword?.dirty || confirmPassword?.touched)
            "
            [class.is-invalid]="
              confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)
            "
          />
           <button (click)="toggleShowPassword2()">
            <fa-icon [icon]="faEye"></fa-icon>
           </button>
          <div class="invalid-feedback">
            Passwords must match
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="Role" class="form-label text-dark">Choose your role</label>
        <div class="input-group">
          <span class="input-group-text bg-primary text-light">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
         <select name="role" id="" formControlName="role" class="form-control"  [class.is-valid]="
              role?.valid && (role?.dirty || role?.touched)
            "
            [class.is-invalid]="
              role?.invalid && (role?.dirty || role?.touched)
            ">
            <option value="member">Member</option>
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
         </select>

          <div class="invalid-feedback">
            choose your role
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mb-2" [disabled]="!registerFrom.valid">Register</button>
    
    </form>
  </div>
</div>

